<?xml version="1.0" encoding="UTF-8"?>

<?include Product.config.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
        <Property Id="Directories" Value="Directories" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)" />
            </Directory>
        </Directory>
	</Fragment>
</Wix>
